body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 50px;
    padding-right: 50px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    
    max-width: 280px;
}

.container2
{
    width: 250px;
    height: 200px;
}

.Chat
{
    background-color: blueviolet;
    height:100%;
    width:max-content;
}

#Global
{
    width:100%;
    height: 100%;
}

#Global #gauche {
    float:left;
    width:80%;
    height: 100%;
    border-radius: 0;
}
#Global #droite {
    margin-left:80%;
    height: 100%;  
}
